:root {
    --primary-text-color: #434455;
    --title-text-color: #2E2F42;
    --primary-white-color: #FFFFFF;;
    --primary-blue-color: #4D5AE5;
    --hover-focus-color:  #404BBF;
    --background-color-black: #2E2F42;
    --background-color-white: #F4F4FD;
    --border-color: #E7E9FC;
    --modal-label-text-color :#8E8F99;
}



body {
    font-family: "Roboto", sans-serif;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

h1,h2,h3,h4,ul,p {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}


.container {
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    
  }
 


  @media screen and (min-width: 768px) {
    .container {
      max-width: 768px;
    }
  }
  
  @media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }
  }
  @media screen and (min-width: 320px) {
    .container {
      overflow-x: hidden;
    }
  }
  @media screen and (max-width: 767px){
  .page-header {
      padding: 24px 0;
  }
  }
.container-text {
    padding: 32px 16px;
    
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    .contact-info {
      display: none;
}
}
.studio {
        color:var(--title-text-color);
        
    }
.page-header{
    background-color: #ffffff;
    border-bottom: 1px solid #E7E9FC;
}



.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.main-container {
    display: flex;
    align-items: center;
   

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}



.menu-btn {
    border: none;
    background-color: transparent;
    width: 32px;
    height: 22px;
    margin-left: auto;
}
.btn-header-icons {
    stroke: #2E2F42;
    border: none;
}


.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
       
}

@media screen and (max-width: 767px){
.menu  {
    display: none;
}
}
@media screen and (max-width: 767px){
    .contact-adress  {
        display: none;
    }
    }



@media screen and (max-width: 767px) {
    .mobile-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-y: scroll;
        
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .mobile-menu.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

@media screen and (max-width: 767px) {
.mobile-menu-container {
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
}
}

@media screen and (max-width: 767px) {}
.close-menu {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    padding: 0;
    line-height: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #e7e9fc;
}




@media screen and (max-width: 767px){
.nav-site .link.current {
    color: #4d5ae5;}

}

@media screen and (max-width: 767px){
.item-list {
    color: #2e2f42;
    text-decoration: none;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: .02em;
 }
}

@media screen and (max-width: 767px){
.contact-main {
    margin-bottom: 40px;
    }
}
@media screen and (max-width: 767px){
.contacts {
    padding: 0;
    width: auto;
    display: block;
    
    }
}


@media screen and (max-width: 767px){
.team-soc {
    
    display: flex;

    align-items: center;
    list-style: none;
    margin-bottom: 0;
    gap: 24px;
    }
}

@media screen and (max-width: 767px){
.soc-link-ing {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    }
}

@media screen and (max-width: 767px){
.link-contact-main {
    display: block;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.111;
    letter-spacing: .02em;
    color: #4d5ae5;
    text-decoration: none;
}
}

@media screen and (max-width: 767px){
.link-contact {
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .02em;
    color: #434455;
    text-decoration: none;
}
}



.hero {
    padding: 112px 0;
    max-width: 428px;
    margin: 0 auto;
    background-color: #2e2f42;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/background-mobilex1.jpg);
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi), 
        (min-resolution: 2dppx){
    .hero {
        background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/backgroud-mobilex2.jpg);
    }
    }

.container-hero{
    text-align: center;
}

.hero-text{
max-width: 320px;
margin: 0 auto 72px auto;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: white;
}

.modal-btn {
    padding: 16px 32px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px){
.modal {
    max-width: 392px;
}
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 72px 24px 24px 24px;
    min-height: 576px;
    background-color: #fcfcfc;;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--border-bottom);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    
}

.modal-title {
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #2e2f42;
}

.modal-form {
    display: flex;
    flex-direction: column;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-field > .modal-label-text {
    letter-spacing: 0.04em;
}
.modal-label-text {
    display: inline-block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #8e8f99;;
    margin-bottom: 4px;

}

.modal-input-field {
    position: relative;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 34px;
    color: #2e2f42;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translatey(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}



.modal-buttom {
    
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox:checked {
    background-color: #4D5AE5;
    background-size: contain;
    background-image: url(../images/click-1.svg);
    border-radius: 2px;
    border: none;
    width: 16px;
    height: 16px;
}
.label-checkbox {
    display: flex;
    align-items: center;
    margin: 16px 0 24px 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: rgba(142, 143, 153, 1);
    letter-spacing: 0.04em;
    padding-bottom: 0;
}
.checkbox-span {
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid #8E8F99;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
    color: #4D5AE5;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
@media screen and (max-width: 767px){
.nav-site {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
}
@media screen and (max-width: 767px){
.main-adress {
    font-style: normal;
    margin-bottom: 48px;
}
}
.modal-submit-btn {
    align-self: center;
    text-align: center;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: white;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
}


@media screen and (max-width: 767px){
    .foto-rules {
        display: none;
    }
    }

.rules-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 72px;
    }

.team-profession {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }
   
.service-text {
        margin-bottom: 8px;
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
    }

  
.section-description {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

@media screen and (max-width: 767px){
    .example {
        display: none;
    }
}
.properties-title {
    margin-bottom: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.properties-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.ourteam {
    background-color: #f4f4fd;
    
}

.subtitle{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}

@media screen and (max-width: 767px){
.list-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}
}

.item-team {
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-text {
    padding: 32px 16px;
}

.service-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

@media screen and (max-width: 767px){
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
}
}

section{
    padding: 96px 0;
}

.customers-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.modal-form-chrck-link{
    color: #4D5AE5;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}

.customers-logo {
    height: 88px;
    width: 190px;
}
.cust-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.point-customers {
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
    padding: 96px 0;
    background-color:  #2e2f42;
}
@media screen and (max-width: 767px){
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}
}

@media screen and (max-width: 767px){
.footer-desc {
    display: block;
    margin: 0 auto;
}
}

@media screen and (max-width: 767px){
.footer-desc > .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
}
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.studio-footer{
    color: white;
}
.footer-text {
    max-width: 268px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
@media screen and (max-width: 767px){
.social-footer {
    display: block;
    margin: 0 auto;
    text-align: center;
}
}

.section-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 16px;
}

@media screen and (max-width: 767px){
.footer-mail{
    text-align: center;
}
}
.text-batn-footer {
    
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: white;
    margin-bottom: 16px;
}
.footer-subscribe-emeil-submit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 767px){
.footer-input{
    width: 100%;
    margin-bottom: 16px;
}
}
.footer-input {
    width: 264px;
    height: 40px;
    border: 1px solid white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: white;
    background-color: transparent;
    padding: 8px 16px;
}
.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    color: white;
    background-color: #4d5ae5;
    border-radius: 4px;
    border-color: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

@media screen and (min-width: 768px){
    .page-header {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    }
 @media screen and (min-width: 768px){
    .main-container {
        display: flex;
        align-items: center;
    }
    }
@media screen and (min-width: 768px){
    .mobile-menu {
        display: none;
    }
    }

@media screen and (min-width: 768px){
    .menu-btn {
        display: none;
    }
}

@media screen and (min-width: 768px){
.contact-info {
    display: flex;
    align-items: center;
}
}

@media screen and (min-width: 768px){
.menu {
    display: flex;
    align-items: center;
    margin-left: 120px;
}
}

@media screen and (min-width: 768px) {
.menu-item:not(:last-child) {
    margin-right: 40px;
}
}

@media screen and (min-width: 768px){
.menu-item > .current {
    color:  #404bbf;
}
}



@media screen and (min-width: 768px){
.menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
}
.current{
    position: relative;
}
@media screen and (min-width: 768px){
    .current::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }
    }

@media screen and (min-width: 768px){
    .page-nav > .logo-link  {
        padding: 24px 0;
        
    }
}

@media screen and (min-width: 768px){
    .page-nav{
        
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 768px){
.contact-list{
    display: block;
}
}

@media screen and (min-width: 768px){
.menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
}

@media screen and (min-width: 768px){
.item:not(:last-child) {
    margin-bottom: 12px;
}
}

@media screen and (min-width: 768px){
.contact-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:  #434455
}
}

@media screen and (min-width: 768px){
.contact-adress{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-left: auto;

 }
}
@media screen and (min-width: 768px){
.modal {
    max-width: 408px;
}
}

@media screen and (min-width: 768px){
    .hero {
        padding: 112px 0;
        max-width: 768px;
        margin: 0 auto;
        background-color: #2e2f42;
        background-repeat: no-repeat;
        background-position: center;
        background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/background-tablet-1x.jpg);
        background-size: cover;
    }
}
@media screen and (min-width: 768px){
@media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
    .hero {
        background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/background-tablet-2x.jpg);
    }
    }
}

   
@media screen and (min-width: 768px){
.rules-list {
    flex-wrap: wrap;
    gap: 72px 24px;
}
}

@media screen and (min-width: 768px){
.item-rules {
    width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 768px){
.foto-rules {
    display: none;
}
}
@media screen and (min-width: 768px){
.properties-title {
    margin-bottom: 8px;
    text-align: start;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
}

@media screen and (min-width: 768px){
.properties-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}

@media screen and (min-width: 768px){
.example {
    display: none;
}
}

@media screen and (min-width: 768px){
.list-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px 24px;
}
}

@media screen and (min-width: 768px){
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;;
}
}

@media screen and (min-width: 768px) and (max-width: 1157px){
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
}

@media screen and (min-width: 768px){
.container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
}
}

@media screen and (min-width: 768px) and (max-width: 1157px){
.container-footer {
    width: 552px;
}
}

.social-footer {
    width: 208px;
    height: 80px;
}
.section-description{
    margin-top: 0;
}

@media screen and (min-width: 768px){
.footer-text {
    max-width: 264px;
}
}

@media screen and (min-width: 768px){
.footer-input {
    margin-right: 24px;
}
}

@media screen and (min-width: 1158px){
.contact-list {
    display: flex;
    align-items: center;
}
}

@media screen and (min-width: 1158px){
.item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 40px;
}
}

@media screen and (min-width: 1158px){
.hero {
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/backgroud-comp-x1.jpg);
    background-size: cover;
}
}

@media screen and (min-width: 1158px){
@media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi), 
        (min-resolution: 2dppx){
.hero {
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/background-cmp-x2.jpg);
}
}
}

@media screen and (min-width: 768px){
.hero-text {
    max-width: 496px;
    margin: 0 auto 36px auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: white;
}
}

@media screen and (min-width: 1158px){
.hero-text {
    margin: 0 auto 48px auto;
}
}



@media screen and (min-width: 1158px){
.rules-list {
    flex-wrap: nowrap;
    gap: 24px;
}
}

@media screen and (min-width: 1158px){
.foto-rules {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    background-color:  #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
}

@media screen and (min-width: 1158px){
.properties-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
}

@media screen and (min-width: 1158px){
.properties-text {
    font-weight: 400;
}
}

@media screen and (min-width: 1158px){
.example {
    display: block;
    padding-bottom: 120px;
    padding-top: 0;
}
}

@media screen and (min-width: 1158px){
.content-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-text-color);
}
}

@media screen and (min-width: 1158px){
.what-are-doing {
    display: flex;
    gap: 24px;
}
}

@media screen and (min-width: 1158px){
section {
    padding: 120px 0;
}
}

@media screen and (min-width: 768px){
.customers-list {
    justify-content: center;
    gap: 72px 24px;
}
}

@media screen and (min-width: 1158px){
    .customers-list {
        flex-wrap: nowrap;
    }
    }

@media screen and (min-width: 1158px){
    .footer {
        padding: 100px 0;
    }
}


@media screen and (min-width: 1158px){
.container-footer {
    gap: 0 0;
}
}

@media screen and (min-width: 1158px){
.footer-desc {
    margin-right: 120px;
}
}

@media screen and (min-width: 1158px){
.footer-mail {
    margin-left: auto;
}
}

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}
.studio-footer{
   color: var(--background-color-white); 
}

.btn-portfolio:hover,
.btn-portfolio:focus {
    background: var(--hover-focus-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid #404BBF;
}

.btn-portfolio {
    
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #E7E9FC;
    background-color: var(--background-color-white);

    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:  var(--primary-blue-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
   
}

.link-portfolio:hover,
.link-portfolio:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
}
.link-portfolio {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.list-porfolio {
    margin-bottom: 72px;
    display: flex;
    width: 100%;
    height: auto;
    gap: 24px;
    justify-content: center;
}



.list-foto-porfol {
    display: flex;
    
    flex-wrap: wrap;
    padding-left: 0;
}
.gallery {
    
    

    margin-right: 24px;
    margin-bottom: 48px;

}

.jpg-port{
    display: block;
   
}
.foto-team {
    display: block;
}
    

.gallery:nth-child(3n) {
    margin-right: 0;
}
.gallery:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.text-portf {
    border: 1px solid var(--border-color);
    border-top: 0;

    padding: 32px;
    padding-left: 16px;
    
}

.text-portfolio{
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    padding: 40px 32px 0 32px; 
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    color: #F4F4FD;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button {
    cursor: pointer;
}
.kard-porfolio {
    position: relative;
    overflow: hidden;
}
.gallery:hover .text-portfolio{
    transform: translateY(-100%);
}
.team-name{
    text-align: center;
}



.container-footer{
    
    
    display: flex;
    

}


.works-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.service-text{
text-align: justify;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--hover-focus-color);
}


.contact-link:hover,
.contact-link:focus {
    color: var(--hover-focus-color);
}

.contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--hover-focus-color);
}


.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.9);

}
.modal-button:hover,
.modal-button:focus {
    background-color: var(--hover-focus-color);
    fill: #FFFFFF;
}

.modal-input:hover,
.modal-input:focus
{
    border-color: var(--hover-focus-color);

}
.modal-input:hover ~ .modal-input-icon,
.modal-input:focus ~ .modal-input-icon{
  fill: var(--hover-focus-color);
  
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: var(--hover-focus-color);
} 

.cust-item:hover,
.cust-item:focus {
    border-color: var(--hover-focus-color) ;
}

.cust-item:hover .point-customers,
.cust-item:focus .point-customers{
    fill: var(--hover-focus-color);
}
.social-icon:hover,
.social-icon:focus{
    background-color: var(--hover-focus-color);;
}

.social-icon {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn:hover,
.footer-btn:focus {
    background-color: var(--hover-focus-color);
}
